* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  position: fixed;
  padding-top: 40px;
  transition: all 0.5s ease;
  width: 100vw;
  z-index: 100;
}

.background-effect {
  position: absolute;
  height: 100%;
  top: 0;
  width: 0;
  transition: width 0.3s ease;
}

.head_logo {
  width: 200px; height: 71px;
}

.logo_b {
  width: 200px; height: 41px;
}

.head_menu {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px 25px 0px 55px;
}

.head_menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  position:relative;
  margin: 0;
}

.head_menu ul li {
  width: 100px;
  margin: 0 15px;
  position: relative;
}

.head_menu ul li a{
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}

.head_menu ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0;
}

.head_menu ul li:hover ul {
  display: block;
}

.head_menu ul li ul li {
  margin: 0;
}

.head_menu ul li ul li a{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 10px 0;
  font-size: 15px !important;
}


.head_sns {
  display: flex;
  padding-top: 5px;
}

.head_sns ul {
  display: flex;
  list-style: none;
}
.head_sns ul li {
  margin: 0 5px;
}
.head_sns img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

.head_sns img:hover {
  transform: scale(1.2);
}

.slider-container{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.slider{
  display: flex;
}

.slide{
  min-width: 100%;
}

.slide img{
  width: 100%;
  display: block;
}